

// Database configuration
DB_HOST=localhost
DB_USER=pcb_user
DB_PASSWORD=
DB_NAME=pcb_mis

ADMIN_USERNAME=admin
ADMIN_NAME=System Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=use_your_own_password